* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.logo-and-links-container,
.header-content-container {
    background-color: #1f2937;
    color: #f9faf8;

    display: flex;
    justify-content: center;
    padding: 0 5vw;
    /* Not sure if I need it centered */
}

.logo-and-links div {
    border: 1px solid white;
}

.logo-and-links {
    display: flex;
    justify-content: space-between;
    width: 100vw;
    /* Without this width, the flex items
    were centered in the page with no spacing.
    I don't quite understand why exactly. 
    
    Rather than using discrete 900px, I think
    I prefer using 100vw, then I can use padding */
}

.header-links {
    display: flex;
}

.link-2,
.link-3 {
    margin-left: 10px;
}

.header-content-container {
    /* border: 1px solid #fff; For debugging */
    height: 25vw;
    display: flex;
    justify-content: center;
}

.header-content div {
    /* border: 1px solid #fff;  For debugging */
}

.header-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-image {
    height: 15vw;
    min-height: 140px;
    width: 40vw;
    background-color: grey;
    text-align: center;

}

.header-text-container {
    height: 15vw;
    min-height: 140px;
    width: 40vw;
    padding-right: 30px;


}

.header-text-title {
    font-size: 24px;
    font-weight: bold;
}

.header-text-body {
    font-size: 14px;
    color: #e5e7eb;
}

.header-button {
    margin-top: 10px;
}

button {
    background-color: #3882f6;
    border: none;
    color: #F9FAF8;
    height: 25px;
    width: 100px;
    border-radius: 5px;

}

button:hover {
    background-color: #f9faf8;
    color: #1f2937;
}

.random-info-container {
    display: flex;
    height: 25vw;
    width: 100vw;
    padding: 0 5vw;

}

.random-info {
    display: flex;
    flex-direction: column;
}

.random-info-header {
    color: #1f2937;
    font-weight: bolder;
    padding: 15px;
    align-self: center;
}

.random-images {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    /* I'm not getting these to move at all.
    I think it has to do with a parent container not 
    having been given a proper height/width property,
    but I'm really not sure at the moment. */

}

.random-image {
    display: flex;
    flex-direction: column;;
}

.image {
    border: 2px solid #3882f6;
    height: 75px;
    width: 75px;
    border-radius: 5px;
}

.caption {
    font-size: 12px;
    color: #1f2937;
}

/* I'm not getting it perfect, but start with close
enough, and work toward nailing it later. */