* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100vw;
    /* Not positive this 100vw is required since
    I'm using 4 divs with height: 25vw already */
}

/* Taking this out because I think it's going too far,
and causings issues.  Going to manually flex elements
.container div {
    display: flex;
    height: 25vw;
    width: 100vw;
}  */

.header-container {
    background-color: #1f2937;
    color: #fff;
    height: 25vw;
    display: flex;
    flex-direction: column;
}

.logo-and-links {
    display: flex;
}

.header-logo {

}

.header-links {
display: flex;

}

.content-container {
    background-color: #fff;
}

.quotes-container {
    background-color: #e5e7eb;
}

.footer-container {
    background-color: #666;
    /* Color wrong for now just to see it better #fff at end */
}

